[submodule "deps/libarchive"]
	path = deps/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "deps/zlib-win64"]
	path = deps/zlib-win64
	url = https://code.google.com/p/zlib-win64
